<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomgehrke.csiconexplorer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowGuideActivity"
            android:label="@string/show_listing_title" />
        <activity
            android:name=".EpisodeListingActivity"
            android:label="Episode Listing" />
        <activity
            android:name=".EpisodeActivity"
            android:label="Listen to Episode" />
        <activity
            android:name=".AboutCsiconActivity"
            android:label="@string/about_csicon_title" />
    </application>

</manifest>